.profile {
    background-color: #fff;
    display: inline-block;
    width: 100%;
}
.formGroup .borderLeft {
    position: absolute;
    left: 57px;
    top: 8px;
    width: 1px;
    height: 32px;
    background-color: #BBBFCA;
    content: "";
    z-index: 1;
    /*transform: translateY(-50%);*/
    border-radius: 3px;
}
.formSection .formGroup .number {
    position: relative;
    background-image: url('https://oxens.ezxdemo.com/images/flag.svg');
    padding-left: 70px;
    background-repeat: no-repeat;
    background-position: 20px 50%;
}
.formSection .email, .formSection .password, .formSection .name, .formSection .react-datepicker-ignore-onclickoutside, .formSection .number {
    background-image: url('https://oxens.ezxdemo.com/images/email-icon.png');
    background-repeat: no-repeat;
    background-position: 20px 50%;   
}
.formSection .password {
    background-image: url('https://oxens.ezxdemo.com/images/password-icon.png');
    padding-right: 50px;
}
.formSection .name {
    background-image: url('https://oxens.ezxdemo.com/images/user-icon.png');
}
.profileWrap {
    padding: 50px;
    max-width: 835px;
    margin: 50px auto;
    border-radius: 6px;
    border: 0.8px solid #E0E0E0;
}
.profileWrap form {
    margin-top: 15px;
}
.btnBlock .oxensBtn, .btnBlock .oxensBtnstyleTwo {
    display: inline-block;
    min-width:330px;
    padding: 12px 15px;
    background-color: #2F6F68;
    border: 1px solid #2F6F68;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    position: relative;
    outline: none;
    transition: all ease .4s;
    border-radius: 6px;
    font-family: 'ProximaNova-Semibold';
    margin-top: 20px;
}
.btnBlock .oxensBtnstyleTwo {
    background-color: #fff;
    color: #2F6F68;    
}
.btnBlock {
    text-align: center;
}
.btnBlock .oxensBtn:hover, .btnBlock .oxensBtn:focus {
    background-color: #fff;
    color: #2F6F68;
    box-shadow: none;
}
.Forgot {
    text-align: right;
    padding-bottom: 30px;
    font-size: 18px;
}
.Forgot a {
    color: #2F6F68 !important;
}
.profileImg {
    text-align: center;
}
.profileImg label {
    position:relative;
    max-width: 125px;
    height: 125px;
    margin: 0 auto;
    border: 2.5px solid #2F6F68;
    border-radius: 100%;
}
.profileImg label div {
    overflow: hidden;
}
.profileImg label input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
}
.profileIcon {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
}
.editProfile {
    float: right;
}
.editProfile span {
    display: inline-block;
    font-size: 16px;
    color: #2F6F68;
    font-family: 'ProximaNova-Semibold';
    cursor: pointer;
}
.editProfile span div {
    margin-right: 7px  !important;
    margin-top: -3px !important;
}
.profileWrap h5 {
    display: inline-block;
    padding-bottom: 0;
}
.ModalCustom {
    background-color: #fff;
    max-width: 588px;
    border-radius: 6px;
}
.ModalCustom .modalHeader h5 {
    padding-bottom: 0;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.ModalCustom .modalBody {
    padding: 50px 30px;
}
.ModalCustom .modalHeader {
    width: 90%;
    margin: 0 auto;
}


.closeButton {
    position: absolute !important;
    top: 0;
    right: 0;
    width: 26px !important;
    height: 20px;
    background: #fff;
    position: relative;
    -webkit-transition: all ease .4s;
    -ms-transition: all ease .4s;
    transition: all ease .4s;
    cursor: pointer;
  }
  .closeButton:before, .closeButton:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 2px;
    background: #333333;
    content: "";
    -webkit-transition: all ease .4s;
    -ms-transition: all ease .4s;
    transition: all ease .4s;
    -webkit-transform: translateY(7px) rotateZ(-45deg);
    -ms-transform: translateY(7px) rotateZ(-45deg);
    transform: translateY(7px) rotateZ(-45deg);
    
   
  }
  .closeButton:after {
    top: 14px;
    -webkit-transform: translateY(-7px) rotateZ(45deg);
    -ms-transform: translateY(-7px) rotateZ(45deg);
    transform: translateY(-7px) rotateZ(45deg);
  }

  .ModalCustom .closeButton {
      top: 20px;
      right: 20px;
  }
  .ModalCustom .formControl {
      padding: 10px 15px;
  }






@media screen and (max-width: 767px) {
    .profileWrap {
        padding: 20px;
    }
}
@media screen and (max-width: 479px) {
    .btnBlock .oxensBtn, .btnBlock .oxensBtnstyleTwo {
        min-width: 100%;
    }
    .profileWrap h5 {
        font-size: 16px;
    }
    .editProfile span {
        min-width: auto;
        border: none;
        font-size: 16px;
        padding: 0;
    }
}