.listingSection {
  background-color: #fff;
}
.listItem {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #FFFFFF;
}
.listItem .imgBlock {
  position: relative;
  height: 215px;
  background-position: center center;
  background-size: cover;
}
.listInfo {
  padding: 14px 11px;
}
.listInfo h6 {
  font-size: 20px;
  line-height: 24px;
  color: #333;
  padding-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.listInfo p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #828282;
  font-size: 13px;
  line-height: 16px;
}
.totleRating {
  font-size: 13px;
  color: #6B6B6B;
  padding: 0 5px;
  border: 1px solid #EEEEEE;
  border-radius: 2px;
  line-height: 16px;
  display: inline-block;
  margin-left: 5px;
}
.ratingGroup {
  display: inline-block;
  width: 100%;
  padding: 4px 0 7px;
}
.deliverTime {
  margin-top: 3px;
  border-top: 0.5px solid #F0F0F0;
  display: inline-block;
  width: 100%;
  color: #B8B8B8;
  font-size: 13px;
  padding: 10px 0 2px;
}
.listingSection .innerRow [class*="col-"] {
  margin: 20px 0;
}
.listingSection .innerRow [class*="col-"] a {
  display: inline-block;
  width: 100%;
}
.listingSection .innerRow [class*="col-"] a:hover, .listingSection .innerRow [class*="col-"] a:focus {
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.offPrice {
  display: inline-block;
  position:absolute;
  bottom: 0;
  right: 10px;
  background-color: rgba(63, 50, 38, 0.5);
  text-align: center;
  padding: 4px 6px 2px;
  border-radius: 4px 4px 0px 0px;
  min-width: 110px;
}
.offPrice:before {
  position:absolute;
  left:3px;
  right: 3px;
  bottom: 3px;
  top: 3px;
  width: 95%;
  height: 93%;
  border: 1px solid #F4FF00;
  content: "";
  z-index: 1;
  border-radius: 4px 4px 0px 0px;
}
.offPrice h6 {
  padding-bottom: 0;
  font-size: 18px;
  color: #F4FF00;
  line-height: 22px;
}
.offPrice p {
  padding-bottom: 0;
  color: #fff;
  line-height: 15px;
  letter-spacing: -0.0233em;
  font-size: 12px;
}











