.banner {
    height: 230px;
    position:relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner:before {
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    content:"";
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}
.banner .tableWrap {
    position: relative;
    z-index: 2;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}
.banner .alignWrap {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.banner h2 {
    color: #fff;
    font-size: 40px;
    line-height: 46px;
}
.banner p {
    font-size: 22px;
    color: #BDBDBD;
}
.contactWrap {
    margin-top: -40px;
    position: relative;
    z-index: 3;
    padding-bottom: 135px;
}
.contactWrap .contactInfo {
    text-align: center;
    background-color: #fff;
    padding: 50px 15px 35px;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}
.contactWrap .contactInfo span {
    display: inline-block;
    width: 100%;
    font-size: 30px;
    line-height: 25px;
    color: #000000;
    padding-bottom: 15px;
}
.contactWrap .contactInfo a {
    font-size: 20px;
    color: #828282;
}
.contactWrap .contactInfo a:hover, .contactWrap .contactInfo a:focus {
    color: #2F6F68;
}
.contactWrap .contactInfo .imgBlock {
    margin-bottom: 20px;
}
.contactWrap .contactInfo .imgBlock img {
    height: 76px;
}
.contactForm {
    background-color: #fff;
}
.contactFormWrap {
    position: relative;
    top: -85px;
    box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.1), 1px 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background-color: #fff;
    padding: 50px 50px 35px;
    max-width: 700px;
    margin: 0 auto;
}
.contactFormWrap h5 {
    font-size: 24px;
    margin-bottom: 25px !important;
}
.contactFormWrap .formControl {
    padding: 10px 20px;
}
.contactFormWrap .btnBlock {
    text-align: center;
}
.contactFormWrap .oxensBtn {
    display: inline-block;
    min-width: 355px;
    padding: 12px 15px;
    background-color: #2F6F68;
    border: 1px solid #2F6F68;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    position: relative;
    outline: none;
    -webkit-transition: all ease .4s;
    transition: all ease .4s;
    border-radius: 6px;
    font-family: 'ProximaNova-Semibold';
}
.contactFormWrap .oxensBtn:hover, .contactFormWrap .oxensBtn:focus {
    background-color: #fff;
    color: #2F6F68;
    box-shadow: none;
}



@media screen and (max-width:767px) {
    .contactWrap .contactInfo {
        margin-bottom: 15px;
    }
    .banner h2 {
        font-size: 36px;
        line-height: normal;
    }
    .banner p {
        font-size: 20px;
    }
    .contactWrap .contactInfo span {
        font-size: 26px;
        padding-bottom: 5px;
    }
    .contactWrap .contactInfo a {
        font-size: 18px;
    }
    .contactFormWrap .oxensBtn {
        font-size: 18px;
    }
}
@media screen and (max-width:575px) {
    .contactWrap {
        margin-top: 0;
        padding: 30px 0;
    }
    .contactForm {
        padding: 30px 0;
    }
    .contactFormWrap {
        top: 0;
        padding: 25px;
    }
    .contactFormWrap .oxensBtn {
        min-width: 100%;
    }
    .banner h2 {
        font-size: 30px;
    }
    .banner p {
        font-size: 18px;
    }
    .contactWrap .contactInfo span {
        font-size: 24px;
    }
    .contactWrap .contactInfo a {
        font-size: 16px;
    }
    .contactFormWrap .oxensBtn {
        font-size: 16px;
    }
}
@media screen and (max-width:479px) {
    .banner h2 {
        font-size: 26px;
    }
    .banner p {
        font-size: 16px;
    }
    .contactWrap .contactInfo span {
        font-size: 22px;
    }
}