/* Oxens Responsive CSS */

@media screen and (min-width:1200px) {
  .container {
    max-width: 1180px;
    padding: 0 15px;
  }
}
  
@media screen and (max-width:1300px) {
.container {
  padding: 0 15px;
}
}
@media screen and (min-width:1366px) {
.container {
  max-width: 1310px;
}
}
@media screen and (max-width:1400px) {
.searchIocn {
  min-width: 300px;
}
}    
@media screen and (max-width:1199px) {
.header.style-two .locationWrap, .searchIocn {
  min-width: 250px;
}
.footer:after {
  background-size: 180px auto;
  width: 180px;
}
}
@media screen and (max-width:991px) {
.searchBox-open .searchIocn form {
  position: absolute;
  right: 0;
  top: 100%;
  width: 300px;
  margin-top: 15px;
}
.searchBox-open .header.style-two .header-right ul li.searchIocn .form-group .searchinner div {
  vertical-align: middle;
}
.locationInfo {
  left: auto;
  right: 0;
}
.header.style-two .locationWrap, .searchIocn {
  width: auto;
  min-width: 0;
}
.header.style-two .header-right ul li .form-group .form-control {
  width: 0;
  padding: 0;
  border: none;
  background-image: none;
}
.locationWrap .downarrow {
  display: none;
}
.searchIocn {
  margin-left: 0;
}
.locationWrap .locationIcon {
  left: -50px;
  cursor: pointer;
}
.locationWrap .locationIcon img {
  width: 22px;
}
.searchBox-open .header.style-two .header-right ul li.searchIocn .form-group {
  position:absolute;
  z-index: 9;
  -webkit-box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.15);
  border-radius: 5px;

}
.searchBox-open .searchIocn a {
  display: inline-block;
}
.sideNav {
  display: inline-block !important;
  position: fixed;
  top: 0;
  right: 0;
  width: 370px;
  height: 100%;
  padding: 0;
  background-color: #fff;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all ease .7s;
  transition: all ease .7s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  padding: 15px;
  z-index: 999;
}
.filter-open {
  overflow: hidden;
}
.filter-open .sideNav {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.15);
}
.closefilter {
  position:relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid #2F6F68;
  cursor: pointer;
  float: right;
}
.closefilter:before, .closefilter:after {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: ' ';
  height: 9px;
  width: 2px;
  background-color: #2F6F68;
  top: 5px;
}
.closefilter:before {
  transform: rotate(45deg);
}
.closefilter:after {
  transform: rotate(-45deg);
}
.footer:after {
  background-size: 100px auto;
  width: 100px;
}
}
@media screen and (max-width:767px) {
body p {
  font-size: 15px;
  line-height: normal;
}
.header {
  padding: 15px 0;
}
.form-group {
  margin-bottom: 15px;
}
/* body .form-control {
  height: 48px;
} */
.footer .footer-link li, .copyright li {
  padding: 0 15px;
}
.header-right ul li {
  padding: 12px 8px;
}
.header-right ul li a {
  font-size: 14px;
}
.react-slideshow-zoom-wrapper .zoom-wrapper, .react-slideshow-zoom-wrapper .zoom-wrapper > div {
  width: 100% !important;
}
.locationWrap .locationIcon {
  left: -35px;
}
.ModalCustom {
  max-width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}
}
@media screen and (max-width:575px) {
.locationInfo {
  right: -80px;
}
.footer .footer-link li, .copyright li {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
.header {
  padding: 15px 0;
}
.header-right ul li {
  padding: 12px 6px;
}   
.cartBlock {
  right: -45px;
  width: 450px;
}
.cartContentInner {
  width: 70%;
}
.modal-footer .btnBlock .themeBtn {
  min-width: 100%;
}
.modal-footer [class*="col-"] {
  width: 100%;
}
.modal-footer .btnBlock {
  padding: 15px;
}
}
@media screen and (max-width:479px) {

.locationInfo {
  width: 320px;
  right: -220px;
}
.header [class*="col-"] {
  width: 100%;
  flex: 100%;
}
.header .logo {
  text-align: center;
}
.header-right ul {
  text-align: center;
}
.header-right ul li:last-child {
  float: right;
}
.sideNav, .navigation-wrap {
  width: 100%;
}
.cartInfo .imgBlock {
  width: 60px;
}
.cartBlock {
  right: -164px;
  width: 340px;
}
.cartContentInner {
  width: 60%;
}
.cartTitle h6 {
  font-size: 20px;
}
.locationBottom, .locationFrom {
  padding: 15px;
}
.locationFrom h6 {
  font-size: 18px;
}
.ModalCustom iframe {
  height: 250px;
}
.searchBox-open .searchIocn form {
  right: -185px;
}
}
@media screen and (max-width:359px) {
.locationInfo {
  width: 290px;
  right: -206px;
}
.cartBlock {
  right: -145px;
  width: 300px;
}
.AddCart {
  float: none;
  text-align: left;
}
.header-right ul li a > div {
  margin-right: 5px !important;
}
.header-right ul li a > div img {
  width: 18px !important;
}
}